
    <footer class="l-footer">
        <div class="footer__buttons l-container l-inner__flex flex-center">
            <a href="/" class="gotop"></a>
            <a href="/" class="c-button is__facebook">Share on Facebook</a>
            <a href="/" class="c-button is__twitter">Share on Twitter</a>
            <a href="/" class="c-button is__hatena">Hatena Bookmark</a>
            <a href="/" class="c-button is__line">Send to LINE</a>
        </div>
        <div class="footer__nav">
            <Navbar position="is__footer" flex_type="flex-center"/>
            <nav class="p-nav is__footer">
                <ul class="l-inner__flex">
                    <li><a href="/">TOP</a></li>
                    <li><a href="/">PRODUCT</a></li>
                    <li><a href="/">ABOUT</a></li>
                    <li><a href="/">NEWS</a></li>
                    <li><a href="/">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__bottom">
            <div class="inner l-inner__flex">
                <a href="/" class="footer__logo"><img src="<%= path %>images/logo-small.png" alt=""></a>
                <p class="copyright"><small>Copyright © 2023 PAS-POL -旅のモノづくりブランド-｜<br class="spm">TABIPPO All rights reserved.</small></p>
            </div>
        </div>
    </footer>
    <!-- swiper -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="<%= path %>js/slider.min.js"></script>
    <!-- common -->
    <script type="text/javascript" src="<%= path %>js/script.min.js"></script>
</body>
</html>